<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hospital.masterdata.mapper.DoctorMapper">
    <sql id="baseColumns">
        doctor.id,
        doctor.doctorNo,
        doctor.doctorName,
        doctor.gender,
        doctor.age,
        doctor.phoneNumber,
        doctor.clinicName,
        doctor.departmentName,
        doctor.role,
        doctor.createDate,
        doctor.createBy,
        doctor.status
    </sql>
    <select id="findAll" resultType="Doctor">
        SELECT
        <include refid="baseColumns"/>
        FROM
        doctor
    </select>
    <select id="findAllBy" resultType="Doctor">
        SELECT
        <include refid="baseColumns"/>
        FROM
        doctor
        <where>
            <if test="departmentName != null and departmentName != ''">and departmentName = #{departmentName}</if>
            <if test="doctorName != null and doctorName != ''">and doctorName like concat('%',#{doctorName},'%')</if>
        </where>
    </select>
</mapper>