<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hospital.masterdata.mapper.RelationMapper">
    <!-- 处方医嘱表 -->
    <insert id="addPrescriptionDoctorAdvice">
        insert into prescription_doctor_advice_relation values
        <foreach collection="adviceId" index="index" item="item" separator=",">
            (#{prescriptionId},#{item})
        </foreach>
    </insert>

    <!-- 处方疾病表 -->
    <insert id="addPrescriptionSickness">
        insert into prescription_sickness_relation values
        <foreach collection="sicknessId" index="index" item="item" separator=",">
            (#{prescriptionId},#{item})
        </foreach>
    </insert>

    <!-- 处方附加费用表 -->
    <insert id="addPrescriptionSurcharge">
        insert into prescription_surcharge_relation values
        <foreach collection="surchargeId" index="index" item="item" separator=",">
            (#{prescriptionId},#{item})
        </foreach>
    </insert>

    <!-- 处方检查项目表 -->
    <insert id="addPrescriptionItem">
        insert into prescription_items_relation values
        <foreach collection="itemsId" index="index" item="item" separator=",">
            (#{prescriptionId},#{item})
        </foreach>
    </insert>

    <!-- 处方药品表 -->
    <insert id="addPrescriptionDrugs">
        insert into prescription_drugs values
            (null,#{prescriptionId},#{drugsId},#{prescriptionId},#{singleDose},#{usage},#{frequency},#{days})
    </insert>

    <!-- 处方表 -->
    <insert id="addPrescription">
        insert into prescription values
            (null,#{doctorId},#{patientId},#{sicknessId},#{receptionType},now())
    </insert>
</mapper>