<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
     <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>就诊模块</title>
    <style>
        a, a:visited{color: limegreen;}
    </style>
</head>
<body>
<h1>新开就诊</h1>
<form action="api/add" method="post">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	<ul>患者信息
		<li>姓名<input name="patient.patientName" value="张三"/></li>
		<li>卡号<input name="patient.cardNo" value="100010001"/></li>
	</ul>
	<div>西药处方
		<ul>
		<li>药品ID<input name="sedicines[0].medicineId" value="1000"/></li>
		<li>价格<input name="sedicines[0].medicinePrice" value="21.5"/></li>
		<li>用法<input name="sedicines[0].usage" value="一次一片"/></li>
		</ul>
		<ul>
		<li>药品ID<input name="sedicines[1].medicineId" value="1001"/></li>
		<li>价格<input name="sedicines[1].medicinePrice" value="30"/></li>
		<li>用法<input name="sedicines[1].usage" value="一次三粒"/></li>
		</ul>
	</div>
	<div>检查项目
		<ul>
		<li>ID<input name="examineItems[0].examineItemId" value="item001"/></li>
		<li>价格<input name="examineItems[0].examineItemPrice" value="212"/></li>
		</ul>
		<ul>
		<li>ID<input name="examineItems[1].examineItemId" value="item002"/></li>
		<li>价格<input name="examineItems[1].examineItemPrice" value="89"/></li>
		</ul>
	</div>
    <button type="submit" id="btnSubmit">添加</button>
</form>
<div id="data">
    <h4>ajax获取的药品模块分页数据如下</h4>
    <div id="pageInfo"></div>
    <ul id="list"></ul>
</div>
<script src="/js/jquery-1.12.4.js"></script>
</body>
</html>